#resume{
  text-align: center;
  font-size: 16px;
  color: black;
  position: absolute;
  line-height: 50px;
  left: 800px;
  bottom: 10px;
  height: 500px;
  width: 450px;
}

#abtMe{
  position: absolute;
  top: 125px;
  left: 350px;
  font-size: 40px;
}

#resumeBtn{
position: absolute;
top: 500px;
right: 300px;
}