nav{
  text-align: right;
}

body {
  grid-template-columns: 1fr;
  grid-template-rows: 50px 30px auto 100px;
  grid-template-areas: 
    "header"
    "footer"
    "content"
    "side";
}

#abtMe {
  text-align: center;
  font-size: 40px;
  color: black;
  width: 250px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nft-pic{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resumeBtn{
  font-size: 16px;
  color: black;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(39, 39, 39);
  border-radius: 5px;
  background-color: lightgrey;
  margin: 5px auto;
  width: 245px;
  padding: 10px 5px;
}

#resume{
  font-size: 16px;
  color: black;
  right: 100px;
  padding: 0 60px;
  display: flex;
  width: 100%;
  line-height: 50px;
}

@media only screen and (min-width: 768px) {

  #nft-pic{
    height: 250px;
    width: 250px;
    margin: 150px 300px;
    border-radius: 50%;
  }
  #abtMe{
    position: absolute;
    font-size: 40px;
    margin: 50px 280px;
  }

  #resume{
    text-align: center;
    font-size: 24px;
    color: black;
    position: relative;
    width: 500px;
    margin: -400px 750px;
  }

  #resumeBtn{
    font-size: 16px;
    color: black;
    position: relative;
    margin: 450px auto 2px auto;
  
  }
}

@media only screen and (max-width: 1075px) {

  #resume{
    font-size: 16px;
    right: 275px;
    padding: 0 100px;
    display: flex;
    

  }
}
