#contact-me,#banner{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  color:black
}

#contact-form{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
#line1{
  margin: 30px auto;
}

#line2{
  margin: 30px auto;
}

#message{
margin: 5px auto;
height: 200px;
width: 380px;
}

#submit{
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

#link-container{
  display: flex;
  justify-content: space-between;
}

.contact-btn{
  margin: 10px auto;
}

img{
  height: 50px;
  width: 50px;
}
