li {
  display: inline;
}

#home-page{
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: black;
  height: 0px;
  margin-top: 30px;
}

nav{
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  padding: 0 40px;
  letter-spacing: 0px;
  word-spacing: 5px;
  color: black;
  line-height: 30px;
}

header{
  border-bottom: 2px solid;
  background: lightgray;
  height: 30px;
  width: auto;
  }

  #pic{
    height: 200px;
    width: 300px;
  }